
body{
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.accordion{
    width: 300px;
}
.accordion-item{
    margin-bottom: 1px;
    border: 1px solid yellow;
    margin-top: 30px;
}
.accordion-header{
    text-transform: capitalize;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    
}
.accordion-header i{
    position: relative;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #ffff;
}

/* .accordion-item.active .accordion-content {
    display: block;
} */

form{
    background-color: Orange;\
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fName{
    position: relative;
    top: -5px;
    width: 150px;
    height: 30px;
    color: white;
    background-color: black;
}
.email{
    position: relative;
    top: -5px;
    width: 150px;
    height: 30px;
    color: white;
    background-color: black;
}
.message{
    position: relative;
    top: 10px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
}